.DS_Store
*.aux
*.out
*.lot
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.lof
*.png.pdf
*.synctex.gz
*.tdo
.sentinel*
phd-blx.bib
phd.acn
phd.acr
phd.glg
phd.glo
phd.gls
phd.ist
phd.alg
phd.dvi
phd.pdf
phd.log
phd.toc

svnignore.txt
